version: "3.8"
services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgress
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
  backend:
    image: adityamangal19/leave_manager_repo:v3
    environment:
      DATABASE_URL: postgresql://postgres:postgress@db:5432/postgres
    depends_on:
      - db
    ports:
      - "8000:8000"
