name: Integration

on:
    push: 
        branches: ["main"]
    pull_request:
        branches: ["main","staged"]

jobs:
    build:
    
      runs-on: ubuntu-latest  #Hello

      steps:
        - name: Checkout whole code
          uses: actions/checkout@v4

        - name: Setup Python 
          uses: actions/setup-python@v5
          with:
            python-version: "3.x"

        - name: Installing dependencies
          run: pip install -r requirements.txt

        - name: Runing the application
          run: python -c "from src.main import app"
     
    deploy:

        runs-on: ubuntu-latest      
        needs: build
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Docker build
              run: docker build -t adityamangal19/leave_manager_repo:latest .

            - name: Configuring Docker hub
              run: echo "${{secrets.DOCKER_PASS}}" | docker login -u ${{secrets.DOCKER_USERNAME}}  --password-stdin

            - name: Pushing image to Docker hub
              run: docker push adityamangal19/leave_manager_repo:latest
 